<div class="row white-bg">
    <div class="row wrapper-content">
        <div class="col-lg-12">
            <div class="row wrapper">
                <section id="map">
                    <ng-map center="10.314919285813161,124.453125" zoom="5" on-click="getpos($event)">
                        <marker position="{{latlng}}" title="Hello World!" on-dragend="getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
                    </ng-map>
                </section>
            </div>
            <div class="row wrapper-content">
                <form name="createjobpost" ng-submit="createJobPost()" class="form-horizontal ng-pristine ng-valid r">
                    <div class="form-group ng-pristine ng-valid">
                        <label class="col-lg-2 control-label">Coordinates:</label>
                        <div class="col-lg-10">
                            <input type="text"  placeholder="Coordinates" value="{{latlng}}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Address:</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="JobPostAddress" placeholder="{{latlngaddress[0].formatted_address}}" value="{{latlngaddress[0].formatted_address}}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Job title:</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="JobPostTitle" placeholder="Job title" class="form-control">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea ng-model="JobPostDescription" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pull-right">
                            <button class="btn" type="submit">Create JobPost</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
