<div class="row  border-bottom white-bg dashboard-header">
   <div class="row>
      <div class="input-group">		
      <input type="text" placeholder="Search for something" class="input-sm form-control">		
   </div>
   <div class="row">
      <div class="col-lg-8">
         <div class="ibox float-e-margins">
            <div class="ibox-title">
               <h5>WorldWide</h5>
               
            </div>
            <div class="ibox-content">
               <div class="feed-activity-list">
                  <div class="feed-element" ng-repeat="latestJobPost in latestJobPost">
                     <div>
                        <small class="pull-right text-navy">1m ago</small>
                        <a href="#!/app/project_detail?id={{latestJobPost.Id}}"><strong>{{latestJobPost.Title}}</strong></a>
                        <div>{{latestJobPost.Description}}</div>
                        <small class="text-muted">latestJobPost.Date</small>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
